<div class="card flex justify-content-center container ">
    <input pInputText type="text" class="p-inputtext-lg" placeholder="usuário" />
    <input pInputText type="mail" class="p-inputtext-lg" placeholder="email" />
    <p-button (click)="abrirModal()" label="Enviar" icon="pi pi-check"/>
  </div>


<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}">

  <ng-template pTemplate="header">
    <h3>GeeksforGeeks</h3>
  </ng-template>

  <ng-template pTemplate="footer">
    <button type="button" pButton
        icon="pi pi-times" label="Validação"
        (click)="validar()">
    </button>

    <button type="button" pButton
        icon="pi pi-check" label="Envio Final"
        (click)="envioFinal()">
    </button>
  </ng-template>
</p-confirmDialog>

<div [style]="{marginTop: '12px'}"  class="p-progressBar-circle">
  <p-toast></p-toast>
  <p-progressBar [value]="value"></p-progressBar>
</div>

<div  [style]="{marginTop: '12px'}">
  <button (click)="startProgress()">Iniciar Progresso</button>
</div>
