.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  input {
    margin-bottom: 1rem;
  }

}

.p-progressBar-circle {
  border-radius: 50%;
}
